<Container>
  {{!-- Title --}}
  <div class="font-sans">
    <span class="text-base md:text-sm text-teal-500 font-bold">&lt;</span>
    <LinkTo
      @route="home"
      class="text-base md:text-sm text-teal-500 font-bold no-underline hover:underline"
      >Home</LinkTo
    >

    <h1
      class="font-bold font-sans break-normal text-gray-900 pt-6 pb-2 text-3xl md:text-4xl"
    >
      About Milestones
    </h1>
  </div>

  <p class="py-6">
    👋 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mattis
    blandit nisi, et auctor neque fermentum sit amet. Mauris cursus facilisis
    lorem, eget condimentum diam semper eu. Donec sem ligula, pretium id nulla
    eget, cursus congue eros. Nam volutpat vehicula mi eu maximus. Duis id
    venenatis dui, quis aliquam erat. Aliquam quis lacinia felis. Phasellus
    euismod imperdiet metus vehicula lacinia. Integer sed felis lacus. Donec
    et ipsum eu mi semper varius non eget sapien.
  </p>

  <p class="py-6">
    In finibus arcu pellentesque diam finibus tristique. Aliquam ornare
    lobortis lectus, eget semper nunc pharetra ac. Cras quis sapien ut tellus
    scelerisque volutpat. Maecenas ullamcorper congue iaculis. Nunc accumsan
    nec erat et tempor. In hac habitasse platea dictumst. Cras cursus gravida
    neque. Mauris sed semper neque. Pellentesque nec eros eu leo rhoncus
    sollicitudin. Nulla et congue arcu.
  </p>

  {{!--/ Title --}}
</Container>