<Navbar />

<Container>
  <div class="font-sans">
    <Title>Your Milestones</Title>
  </div>

  <div class="grid gap-5" style="grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));">
    <Milestone src="https://source.unsplash.com/random/380x230" alt="" />
    <Milestone src="https://source.unsplash.com/random/380x230" alt="" />
    <Milestone src="https://source.unsplash.com/random/380x230" alt="" />
    <Milestone src="https://source.unsplash.com/random/380x230" alt="" />
  </div>
</Container>
